/*
CUSTOM FOR ASSET INCIDENT MANAGEMENT SYSTEM
*/

.dropdownhover {
    position: relative;
}

.dropdownhover:hover>.dropdown-menu {
    display: block;
    margin: 0;
}


.navbar-brand-custom {
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    font-size: 1.125rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand-custom:hover,
.navbar-brand-custom:focus {
    text-decoration: none;
}

.navbar-brand-custom-light {
    font-size: 1.025rem;
    margin-right: 1rem;
    color: rgb(80, 80, 80) !important;
}
