<template>
    <div class="container">
        <div class="form-group">
            <label>Select Organisation:</label>
            <select class='form-control' v-model='organisation' @change='getSites()'>
                <option value='0'>Select Organisation</option>
                <option v-for='data in organisations' :value='data.id'>{{ data.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Select Site:</label>
            <select class='form-control' v-model='site'>
                <option value='0'>Select Site</option>
                <option v-for='data in sites' :value='data.id'>{{ data.location }}</option>
            </select>
        </div>

        <div class="form-group">
            <button id="updateButton" class="btn btn-primary" v-on:click="updateSites">Update Site</button>
        </div>

    </div>
</template>
<script type="text/javascript">
    export default {


        props: ['user_id',
            'user_site_id'
        ],


        mounted() {
            console.log('Component mounted.'),
                console.log('User Site ID : ' + this.user_site_id),
                console.log('User ID: ' + this.user_id)
        },
        data() {
            return {
                organisation: 0,
                organisations: [],
                site: 0,
                sites: []
            }
        },
        methods: {
            getOrganisations: function () {
                axios.get('/api/getOrganisations')
                    .then(function (response) {
                        console.log('Data' + response.data);
                        this.organisations = response.data;
                    }.bind(this));
            },
            getSites: function () {
                axios.get('/api/getSites', {
                        params: {
                            organisation_id: this.organisation
                        }
                    })
                    .then(function (response) {
                        this.sites = response.data;
                    }.bind(this));
            },

            updateSites: function () {
                axios.get('/api/updateSites', {
                    params: {
                        user_id: this.user_id,
                        site_user_id: this.user_site_id,
                        organisation_id: this.organisation,
                        site_id: this.site
                    }
                });
            }


        },
        created: function (response) {
            this.getOrganisations()
        }
    }

</script>
