<template>
    <div class="container">
        <div class="form-group">
            <label for="id">Incident :</label>
            <select class='form-control' v-model='incident' @change='updateInfo()'>
                <option value='0'>Select Incident</option>
                <option v-for='data in incidents' :value='data.id'>{{ data.id }} | {{ data.name }}</option>
            </select>

            <div class="form-group">
                <label>Severity:</label>
                <label>{{incident_info.severity}}</label>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <label>{{incident_info.name}}</label>
            </div>

            <div class="form-group">
                <label>Organisation: </label>
                <label>{{organisation_info.id}}</label>
            </div>




        </div>
    </div>
</template>
<script type="text/javascript">
    export default {




        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                incident: 0,
                incidents: [],
                incident_info: [],
                site_info: [],
                organisation_info: []
            }
        },
        methods: {
            getIncidents: function () {
                axios.get('/api/getIncidents')
                    .then(function (response) {
                        console.log('Data for incident ' + this.incident);
                        this.incidents = response.data;
                    }.bind(this));
            },

            updateInfo: function () {
                axios.get('/api/updateJobInformation', {
                    params: {
                        incident_id: this.incident
                    }
                }).then(function (response) {
                    this.incident_info = response.data.incident;
                    this.organisation_info = response.data.organisation;
                    this.site_info = response.data.site;
                }.bind(this));
            }


        },

        created: function (response) {
            this.getIncidents()
        }
    }

</script>
